extends master

block content

	include includes/navbar

	.container
		h1 Sparkle
		p.flow-text.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit illum nisi deleniti eligendi molestias tenetur, corporis. Autem veritatis soluta perspiciatis rem, perferendis officia alias minus! Dicta sequi adipisci eum. Eum!
		a.waves-effect.waves-light.btn-large button
			i.mdi-file-cloud.left
			
	include includes/footer